{% extends "base.html" %}

{% block content %}
    <form method='post'>
        <label>
            Title:
            <br>
            <input style= "width: 300px" type="text" name ="header" value ={{header}}></input>
            <p style = "color: red;">{{header_error}}</p>
        </label>
        <br>
        <br>
        <label>
            Post:
            <br>
            <textarea name='body' style="height: 100px; width: 300px">{{body}}</textarea>
            <p style = "color: red;">{{body_error}}</p>
        </label>
        <br>
        <input type="submit" value='Add' />
    </form>
    
{% endblock %}