{% extends "base.html" %}

{% block content %}

{% if posts|length == 0 %}
<p>No posts yet.</p>
{% else %}

 <h1>Posts by {{user.email}}</h1>
        <hr>
    {% for post in posts %}
        <a style=" text-decoration: none" href="/case1?id={{post.id}}"><h1>{{post.header}}</h1></a>
        <p>{{post.body}}</p>
        <a style=" text-decoration: none; color:gray; font-size: 10pt;" href="/single_user?id={{user.id}}"><p>post by {{user.email}}</p></a>
        <hr>
    {% endfor %}


{% endif %}



{% endblock %}